/.metadata/

*.apk
*.ap_
*.dex
*.dex
*.class
*.log
*.gz
bin/
gen/
local.properties
.DS_Store
*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/.recommenders/
